<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign the challenge with Keybase</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />

  </head>

  <body class="text-center">
 
    <form class="form-signin" th:action="@{/user/index}" method="post">
      
      <h1 class="h3 mb-3 font-weight-normal">Sign this challenge</h1>
      <p>Please copy this command line instruction to sign the challenge with Keybase and PGP</p>
      <div class="alert alert-primary" role="alert" th:text="${unsignedchallenge}">keybase sign pgp -m  </div>
      
      <h1 class="h3 mb-3 font-weight-normal">Provide the signed challenge</h1>
      <p>a signed challenge to log in</p>
      <label for="signedchallenge" class="sr-only">Signed Challenge</label>
      <textarea class="form-control" name="signedchallenge" id="signedchallenge" rows="20" placeholder="signed challenge" required autofocus></textarea>
      
      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
      
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
      
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>